// reset default styles
@import "./base/reset";

// themes
@import "./themes/light";
@import "./themes/dark";
@import "./themes//orange";

// variables
@import "variables/global";

body {
  font: var(--font-m);
  color: var(--primary-color);
}

.app {
  background-color: var(--bg-color);
  min-height: 100vh;
  font: var(--font-m);
  color: var(--primary-color);
}

.main {
  display: flex;
}
