// reset default styles
@import "./base/reset.scss";

// themes 
@import "./themes/light.scss";
@import "./themes/dark.scss";

//variables
@import "variables/global.scss";

.app {
    font: var(--font-m);
    
    background-color: var(--bg-color);
    color: var(--primary-color);

    min-height: 100vh;
}

.main {
    display: flex;
}

.page-wrapper {
    flex-grow: 1;
    padding: 20px;
}